h1 {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

.textogradiente {
  background: linear-gradient(white, gray);
  -webkit-background-clip: text;
  color: transparent;
}

h2 {
  background-color: rgb(219, 219, 167);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

h3 {
  background-color: rgb(219, 219, 167);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

li a {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  text-decoration: none;
}

li a:hover {
  color: yellow;
}

.fotopcrepair img {
  width: 500px;
  height: 200px;
}

.fotoproyecto {
  text-align: center;
}

.fotoproyecto img {
  width: 220px;
  height: 150px;
}

#arriba img {
  width: 80px;
  height: 80px;
}

.fotoproyecto {
  color: rgb(219, 219, 167);
}

.fotopcrepair {
  color: rgb(219, 219, 167);
  text-align: center;
}

.footerclass {
  padding-left: 85%;
  background-color: white;
}

.footerclass img {
  width: 20px;
  height: 20px;
}

.fuente {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
}

.marcascamaras img {
  width: 630px;
  height: 250px;
  margin: 0 20px 0 190px;
}

.colorfondoeimagen img {
  width: 200px;
  height: 200px;
  margin: 0 20px 0 120px;
}

.imagenesmarca {
  overflow-clip-margin: content-box;
  overflow: clip;
}

@media (min-width: 320px) and (max-width: 768px) {
  ul {
    display: flex;
    flex-direction: column;
    padding-right: 10%;
  }

  h2 {
    text-align: center;
  }

  h3 {
    text-align: center;
  }

  .fotopcrepair img {
    height: 150px;
    width: 240px;
    margin-left: 1%;
  }

  .fotoproyecto img {
    margin-left: 1%;
  }

  .footerclass {
    padding-left: 3%;
  }

  .marcascamaras {
    display: flex;
    flex-direction: column;
  }

  .marcascamaras img {
    height: 100px;
    width: 300px;
    margin-left: 4%;
    margin: 10px 0px 10px 1px;
  }

  .colorfondoeimagen img {
    height: 50px;
    width: 50px;
    margin: 10px 0px 10px 0px;
    margin-left: 2%;
  }
}

.colorfondodos {
  background-image: url(../img/quienesomosfondo.jpg);
}

.textogradienteqsomos {
  background: linear-gradient(black, gray);
  -webkit-background-clip: text;
  color: transparent;
}

.imagenesquienessomos {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .imagenesquienessomos img {
    height: 200px;
    width: 300px;
    margin-left: 3%;
  }
}

.porlijidad img {
  width: 400px;
  height: 400px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .porlijidad img {
    height: 200px;
    width: 200px;
    margin-left: 25%;
  }
}

.camarashikvision h2 {
  font-family: "roboto", sans-serif;
  background-color: white;
  font-size: 15px;
}

.colorfondologosip {
  background-color: gray;
}

.carousel-inner {
  color: white;
}

.camarashikvision p {
  font-family: "roboto", sans-serif;
  background-color: white;
  font-size: 13px;
}

.descripcioncamaraip {
  color: white;
}

.camarashikvision {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 90vh;
}

#carouselExample {
  padding-left: 40%;
}

.carousel-inner img {
  width: 200px;
  height: 200px;
}

.camarashikvision img {
  width: 200px;
  height: 200px;
  border-left: 1px solid black;
}

.footerclassr {
  padding-left: 85%;
  background-color: white;
}

.footerclassr img {
  width: 20px;
  height: 20px;
}

.transition {
  transition: height 3s;
}

.transition:hover {
  height: 500px;
}

@media (min-width: 320px) and (max-width: 768px) {
  .footerclassr {
    padding-left: 3%;
    padding-top: 3000px;
  }

  .carousel-item img {
    width: 120px;
    height: 100px;
  }

  .camarashikvision {
    display: flex;
    flex-direction: column;
  }

  .marcascamaras {
    text-align: center;
  }

  .footerclassr {
    padding-left: 1%;
    background-color: white;
  }

  .footerclassr img {
    width: 20px;
    height: 20px;
  }
}

.fotopclugar img {
  width: 800px;
  height: 400px;
}

.fotopclugar {
  text-align: center;
}

.fotopctrabajando img {
  width: 800px;
  height: 400px;
}

.fotopctrabajando {
  text-align: center;
}

@media (min-width: 320px) and (max-width: 768px) {
  .fotopctrabajando img {
    height: 200px;
    width: 300px;
    margin-left: 1%;
  }

  .fotopclugar img {
    height: 200px;
    width: 300px;
    margin-left: 1%;
  }
}

.footerclass {
  background-color: rgb(219, 219, 167);
}

.contactoformulario {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

.btn-17,
.btn-17 *,
.btn-17 :after,
.btn-17 :before,
.btn-17:after,
.btn-17:before {
  border: 0 solid;
  box-sizing: border-box;
}

.btn-17 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}

.btn-17:disabled {
  cursor: default;
}

.btn-17:-moz-focusring {
  outline: auto;
}

.btn-17 svg {
  display: block;
  vertical-align: middle;
}

.btn-17 [hidden] {
  display: none;
}

.btn-17 {
  border-radius: 99rem;
  border-width: 2px;
  padding: 0.8rem 3rem;
  z-index: 0;
}

.btn-17,
.btn-17 .text-container {
  overflow: hidden;
  position: relative;
}

.btn-17 .text-container {
  display: block;
  mix-blend-mode: difference;
}

.btn-17 .text {
  display: block;
  position: relative;
}

.btn-17:hover .text {
  -webkit-animation: move-up-alternate 0.3s forwards;
  animation: move-up-alternate 0.3s forwards;
}

@-webkit-keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes move-up-alternate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(80%);
  }

  51% {
    transform: translateY(-80%);
  }

  to {
    transform: translateY(0);
  }
}

.btn-17:after,
.btn-17:before {
  --skew: 0.2;
  background: #fff;
  content: "";
  display: block;
  height: 102%;
  left: calc(-50% - 50% * var(--skew));
  pointer-events: none;
  position: absolute;
  top: -104%;
  transform: skew(calc(150deg * var(--skew))) translateY(var(--progress, 0));
  transition: transform 0.2s ease;
  width: 100%;
}

.btn-17:after {
  --progress: 0%;
  left: calc(50% + 50% * var(--skew));
  top: 102%;
  z-index: -1;
}

.btn-17:hover:before {
  --progress: 100%;
}

.btn-17:hover:after {
  --progress: -102%;
}

/* Input container */
.input-container {
  position: relative;
  margin: 20px;
}

/* Input field */
.input-field {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  background-color: transparent;
}

/* Input label */
.input-label {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 16px;
  color: rgb(219, 219, 167);
  pointer-events: none;
  transition: all 0.3s ease;
}

/* Input highlight */
.input-highlight {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: white;
  transition: all 0.3s ease;
}

/* Input field:focus styles */
.input-field:focus+.input-label {
  top: -20px;
  font-size: 12px;
  color: white;
}

.input-field:focus+.input-label+.input-highlight {
  width: 100%;
}

.input {
  margin: 30px;
  background: none;
  border: none;
  outline: none;
  max-width: 190px;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 9999px;
  box-shadow: inset 2px 5px 10px rgb(219, 219, 167);
  color: rgb(219, 219, 167);
}

/*# sourceMappingURL=styles.css.map */