.fotopclugar img {
    width: 800px;
    height: 400px;
}

.fotopclugar {
    text-align: center;
}

.fotopctrabajando img {
    width: 800px;
    height: 400px;
}

.fotopctrabajando {
    text-align: center; 
}

@media(min-width:320px) and (max-width:768px) {
        .fotopctrabajando img {
            height: 200px;
            width: 300px;
            margin-left: 1%;
        }

        .fotopclugar img {
            height: 200px;
            width: 300px;
            margin-left: 1%;
        }

}


