$colornegro:#000000;
$segundocolor:#FFFFFF;
$colorgris :#808080;

.camarashikvision h2 {
    font-family:'roboto', sans-serif;
    background-color:$segundocolor;
    font-size: 15px;
}

.colorfondologosip {
    background-color: $colorgris ;
}

.carousel-inner {
    color: $segundocolor;
}

.camarashikvision p {
    font-family:'roboto', sans-serif;
    background-color:$segundocolor;
    font-size: 13px;
}

.descripcioncamaraip {
    color: $segundocolor;
}

.camarashikvision {
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    grid-template-rows:repeat(3, 1fr) ;
    width: 100%;
    height: 90vh;
}

#carouselExample {
    padding-left: 40%;
}

.carousel-inner img {
    width:200px ;
    height: 200px;
}

.camarashikvision img {
    width:200px;
    height:200px;
    border-left: 1px solid $colornegro;
}

.footerclassr {
    padding-left: 85%;
    background-color: $segundocolor;
}

.footerclassr img {
    width: 20px;
    height: 20px;
}

.transition{
    transition: height 3s;
}

.transition:hover{
    height: 500px;
}

@media(min-width:320px) and (max-width:768px) {

    .footerclassr {
        padding-left: 3%;
        padding-top: 3000px;
    }

    .carousel-item img {
        width: 120px;
        height: 100px;
    }

    .camarashikvision {
        display: flex;
        flex-direction: column;
    }

    .marcascamaras {
        text-align: center;
    }

    .footerclassr {
        padding-left: 1%;
        background-color:$segundocolor;
    }
    
    .footerclassr img {
        width: 20px;
        height: 20px;
    }

}