$colornegro:#000000;

.colorfondodos { 
    background-image: url(../img/quienesomosfondo.jpg);
}

.textogradienteqsomos {
    background: linear-gradient($colornegro, gray);
    -webkit-background-clip: text;
    color: transparent;
}

.imagenesquienessomos {
    text-align: center;
}

@media(min-width:320px) and (max-width:768px) {

    .imagenesquienessomos img {
        height: 200px;
        width: 300px;
        margin-left: 3%;
    }

}